<div class="jumbotron text-center">
        <h1 class="display-3">{{{title}}}</h1>
        <p class="lead">Jot down any notes and reminders</p>
        <a href="/notes/add" class="btn btn-lg btn-dark" style="background-color: coral; border-color:coral; color:black">Add note</a>
</div>